*, *::before, *::after {
    font-family:"Courier New", fantasy, serif;
    font-size:xx-large;
}
p {
    color:white;
    text-align: center;
    margin-top: 10%;
}
#input-btn {
    border-radius: 5px;
}
#input-btn:hover {
    transition: 0.7s;
    background-color: #009940;
    color: white;
    cursor:pointer;
}
#initial-msg {
    border-radius: 5px;
}
#guess-msg {
    position:relative;
    margin-top:17%;
}
#not-yet-guessed {
    margin-top: -15%;
    color:darkorange;
}
::placeholder {
    font-size: x-large;
  }
.msg-box {
    position: absolute;
    display:inline;
    top: 30%;
    left:50%;
    transform: translate(-50%, 0%);
    
}
.hide {
    display: none;
}

body {
    background-color: hsl(200, 100%, 20%);
}
.container {
    position: absolute;
    display:inline-block;
    top: 50%;
    left:50%;
    transform: translate(-50%, 0%);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
#box {
    padding:0.5rem;
}
.buttons {
    margin:1.5%;
    margin-right: 0%;
    margin-left: 0%;
    transition: 0.4s;
    transition: transform 300ms;
    border-radius: 5px;
}
.buttons:hover {
    background-color:#662200;   
    transform: translateY(-3px);
    color: white;
    cursor: pointer;
}
.correct{
    background-color:hsl(145, 100%, 50%);
    color: black;
}
.wrong{
    background-color: hsl(0, 100%, 50%);
    color: white;
}
.winner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 2s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.winner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
}
.play-again {
    position:absolute;
    background-color: white;
    top: 5%;
    left:25%;
    right:5%;
    border-radius: 3.125rem 1.25rem;
    padding: 1rem;
    padding-bottom: 20px;
    box-shadow: 0 0 10px 2px #66003c;
    max-width: 450px;
}
.again-anim {
    z-index: 10;
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0.5rem;
      width: 100%;
    }
}
#guessed{
    font-size: x-large;
}
#yes{
    position: relative;
    font-size: x-large;
    margin-top: 0.7rem;
    margin-left: 10%;
    border-radius: 5px;
}
#yes:hover {
    transition: 0.7s;
    background-color: #009940;
    color: white;
    cursor:pointer;
}
#no {
    position: relative;
    font-size: x-large;
    margin-top: 0.7rem;
    margin-left: 10%;
    border-radius: 5px;
}
#no:hover {
    transition: 0.7s;
    background-color: #990000;
    color: white;
    cursor:pointer;
}
#endGame {
    position:fixed;
    left:50%;
    top: 30%;
    transform: translate(-50%, 0);
    color: white;
    display: none;
}
.end-msg-style {
    animation-duration: 3s;
    animation-name: fadeIn;
}
@keyframes fadeIn {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
}
.fadeInAndOut {
    -webkit-animation: fadeinout 1.5s ease-out;
    animation: fadeinout 1.5s ease-out;
}
@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
.fadeOutAndIn {
    -webkit-animation: fadeoutin 2s ease-out;
    animation: fadeoutin 2s ease-out;
}
@-webkit-keyframes fadeoutin {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}
@keyframes fadeoutin {
  0%,100% { opacity: 1; }
  50% { opacity: 0; }
}
.pulsating {
    background-color: hsl(0, 82%, 38%);
    text-shadow: 6px 6px 1px rgba(0,0,0,0.2);
    animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(227, 38, 45, 0.8);
	}
	100% {
		transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}
}